<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <head>
      <h1><%= title %></h1>
    </head>
    <div id="container">
      <p><%- content %></p>
    </div>
    <footer>
      <small><%= foot %></small>
    </footer>
  </body>
</html>
