<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>テーブル定義書</title>
  </head>
  <body>
    <div id="container">
      <h1>xxxシステム テーブル定義書</h1>
      <table border="1">
        <tr>
          <th>システム名</th>
          <th>作成者</th>
          <th>作成日</th>
          <th>RDBMS</th>
        </tr>
        <tr>
          <td>xxxシステム</td>
          <td>山田</td>
          <td>2022/8/1</td>
          <td>MySQL</td>
        </tr>
      </table>
    </div>
  </body>
</html>
