<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <title>テーブル定義書</title>
    <style></style>
  </head>

  <body class="A4">
    <section class="sheet table-list-page">
      <div class="row" id="row-1">
        <h1>テーブル一覧</h1>
      </div>
      <div class="row" id="row-2">
        <table>
          <tr>
            <th>No.</th>
            <th>テーブル名</th>
          </tr>
          <tr>
            <!-- <td><%= no ></td> -->
            <td>1</td>
            <td><%= table_name ></td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
